<p id="notice"><%= notice %></p>

<h1>Listing Newsscrapers</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Time</th>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @newsscrapers.each do |newsscraper| %>
      <tr>
        <td><%= newsscraper.at_css('.titletext').text %></td>
        <td><%= newsscraper.at_css('.esc-lead-snippet-wrapper').text %></td>
        <td><%= newsscraper..at_css('.al-attribution-timestamp').text %></td>
        <td><%= image_tag newsscraper.at_css('.esc-thumbnail-image')['src'] %></td>
        <td><%= link_to 'Edit', edit_newsscraper_path(newsscraper) %></td>
      </tr>
      <tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Newsscraper', new_newsscraper_path %>
