<p id="notice"><%= notice %></p>

<p>
  <strong>View:</strong>
  <%= link_to "Original Story", @newsscraper.title_url, :target => "_blank" %>
</p>

<p>
  <strong>Headline:</strong>
  <%= @newsscraper.title %>
</p>

<p>
  <strong>Story Summary:</strong>
  <%= @newsscraper.body %>
</p>

<p>
  <strong>Posted:</strong>
  <%= time_ago_in_words(@newsscraper.created_at) %> ago
</p>

<p>
  <strong>image_url:</strong>
  <% if @newsscraper.image_url.present? %>
    <td><%= image_tag @newsscraper.image_url %></td>
  <% else %>
    <td><%= image_tag 'nia.jpg' %></td>
  <% end%>
</p>

<%= link_to 'Back To Newsscraper', newsscrapers_path, class:"btn btn-info btn-xs" %>
<hr>
<%= render @newsscraper.comments %>
  <%= simple_form_for [@newsscraper, Comment.new] do|comment| %>
  <%= comment.input :body %>
  <%= comment.submit "Added Comment", class:"btn btn-danger" %>
<% end %>
<hr>
<%= link_to 'Back To Newsscraper', newsscrapers_path, class:"btn btn-info btn-xs" %>